html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
    align-items: center;
    background-color: var(--bgColor);
}

:root {
    --bgColor : #FFFFFF;
    --bgButton : #292F36;
    --rating: #CDA274;
    --goldText : #F2921D;
}

h1, h2 {
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    letter-spacing: 2px;
}

span {
    color: var(--bgButton);
}

.hero {
    width: 100%;
    height: 500px;
}

/* TitlePage */
.title-page {
    color: var(--bgButton);
}

/* Images */
.sectionPicture1 {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 100px;
}

.hero-image {
    height: 300px;
}

/* Detail */
.detail-image {
    width: 100%;
    height: auto;
}

.detail-image.active {
    display: block;
}

.list-item {
    cursor: pointer;
}

.detail-image-process {
    width: 100%;
    height: auto;
}
.detail-image-process.active {
    display: block;
}

.detail-image-process-second {
    width: 100%;
    height: auto;
}
.detail-image-process-second.active {
    display: block;
}

.additional-info {
    display: none;
    margin: 10px;
    font-size: 0.8em;
    color: var(--bgButton);
}

/* Accordion */
.accordion-subtitle {
    font-size: 0.8em;
}

/* Icons */
.teenyicons--arrow-right-solid {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9.854 3.146L14.207 7.5l-4.353 4.354l-.708-.708L12.293 8H1V7h11.293L9.146 3.854z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    text-decoration: none;
    color: var(--bgColor);
    transition: color 0.3s ease;
}

.teenyicons--arrow-right-solid:hover {
    color: var(--goldText);
}

/* Proses Pembuatan */
.videoPembuatan {
    padding: 2em;
    width: 100%;
    margin: auto;
}

.sizeVideo {
    width: 100%;
    height: 32em;
    border-radius: 20px;
}


.videoPembuatan p {
    padding: 2em;
    text-align: center;
}

/* Daerah */
.daerah-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.daerah-item-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.daerah-item-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 13px 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
}

.daerah-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-item {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    padding: 0;
    background-color: var(--textColorLight);
}

.province a {
    color: var(--bgColor);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: all 0.3s ease; /* Menambahkan transisi halus */
}

.province a:hover {
    color: var(--goldText); /* Mengubah warna teks saat di-hover */
}

.city p {
    color: var(--bgColor);
    text-decoration: none;
    font-size: small;
}

/* Areas */

.areas-image {
    height: 500px;
}

/* Line */
.line-item {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    padding: 0;
    background-color: var(--bgColor);
}

/* Modal */
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    border-radius: 12px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    position: absolute;
    top: 0px;
    right: 10px; /* Mengatur posisi ke kanan */
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-content {
    position: relative; /* Membuat posisi relatif untuk child */
  }
  
  .modal-content .close {
    color: black; /* Atur warna close button */
  }
  
  /* Hover effect untuk close button */
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  #modal-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  #modal-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #modal-sejarah,
  #modal-makna {
    margin-bottom: 10px;
  }
  

/* Responsitive */
@media screen and (max-width: 538px) {

    /* Hero */
    .hero {
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }

    .hero-title {
        font-size: 20px;
    }

    .hero-subtitle {
        font-size: 12px;
    }

    .hero-container {
        position: absolute;
    }

}