---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroPage from "../components/HeroPage.astro";
---

<BaseLayout>
  <HeroPage title="Tentang Cultik" description="Home / Tentang Cultik" />

  <div class="container mx-auto p-6">
    <div class="flex justify-center">
      <div
        class="flex flex-col justify-center items-center w-4/5 lg:w-3/5 dark:text-white"
      >
        <h1 class="text-center text-3xl md:text-7xl mt-10 md:mt-12">
          We Love Cultik
        </h1>
        <p class="text-center text-md md:text-3xl mt-6 md:mt-8">
          spread batik culture throughout the world with cultik so that batik
          culture can continue to be recognized.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-14 md:gap-8 mt-12 md:mt-16">
      <div
        class="flex flex-col justify-center items-center"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-in-out"
      >
        <img
          class="object-cover rounded-xl w-72 h-72 md:w-80 md:h-80 shadow-md"
          src="/Team_Image/RandaFirmanPutra.jpeg"
          alt=""
        />
        <h1 class="text-2xl mt-2 lg:mt-4 mb-1 dark:text-white">
          Randa Firman Putra
        </h1>
        <p class="text-md dark:text-white">Universitas Tanjungpura</p>
      </div>
      <div
        class="flex flex-col justify-center items-center"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-in-out"
      >
        <img
          class="object-cover rounded-xl w-72 h-72 md:w-80 md:h-80 shadow-md"
          src="/Team_Image/KenniHashim.jpg"
          alt=""
        />
        <h1 class="text-2xl mt-2 lg:mt-4 mb-1 dark:text-white">Kenni Hasim</h1>
        <p class="text-md dark:text-white">Universitas Kristen Krida Wacana</p>
      </div>
      <div
        class="flex flex-col justify-center items-center"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
        data-aos-easing="ease-in-out"
      >
        <img
          class="object-cover rounded-xl w-72 h-72 md:w-80 md:h-80 shadow-md"
          src="/Team_Image/HugaSampurnaKho.jpg"
          alt=""
        />
        <h1 class="text-2xl mt-2 lg:mt-4 mb-1 dark:text-white">
          Huga Sampurna Kho
        </h1>
        <p class="text-md dark:text-white">Universitas Multimedia Nusantara</p>
      </div>
    </div>
  </div>
</BaseLayout>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
  AOS.init();
</script>
