---
import BaseLayout from '../layouts/BaseLayout.astro';
import Fact from '../components/Fact.astro';
import Hero from '../components/Hero.astro';
import MotifBatik from '../components/MotifBatik.astro';
import Carousel from '../components/Carousel.astro';
import AccordionCommunity from '../components/AccordionCommunity.astro';
import Modal from '../components/Modal.astro';
import '../styles/global.css';
---

<BaseLayout>

	<Hero />

	<Fact />

	<div id="historyPage" class="container mx-auto px-6 py-8 md:my-28 bg-[#F4F0EC] rounded-3xl">
		<div class="flex flex-col lg:flex-row items-center justify-between">
			<div class="lg:w-6/12 mb-6 md:mb-0">
				<h2 class="font-bold text-5xl md:text-7xl mb-4">Sejarah <br> Singkat Batik</h2>
				<p class="text-base mb-4 md:text-lg">Batik adalah salah satu warisan budaya Indonesia yang paling terkenal di dunia. Kata "batik" berasal dari bahasa Jawa, yaitu "amba" yang berarti menulis dan "titik" yang berarti titik. Batik merujuk pada teknik pembuatan kain dengan menggunakan malam (lilin) untuk melindungi bagian-bagian tertentu dari kain saat dicelup ke dalam pewarna.</p>
				<button type="button" class="bg-[#292F36] hover:bg-[#CDA274] transition duration-300 ease-in-out text-white font-bold py-2 px-4 rounded-xl w-32 h-11 history-button">Read More</button>
			</div>
			<div class="lg:w-5/12 mt-8 lg:mt-0 flex justify-end">
				<img src="/img/TesItemBatik.png" class="sectionPicture1" alt="">
			</div>
		</div>
	</div>

	<div id="detailHistory" class="container mx-auto px-6 my-24 md:my-28">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
			<div class="relative" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
			data-aos-easing="ease-in-out">
				<img id="detail-image" class="detail-image md:w-5/12 rounded-3xl object-cover" src="/Gambar_Sejarah/Cover.png" alt="Detail Image">
			</div>
			<div class="list-group" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"
			data-aos-easing="ease-in-out">
				<a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-1" data-image="/Gambar_Sejarah/Perkembangan_Awal.png" data-info="Perkembangan awal batik merupakan bagian penting dalam sejarah batik, menandai awal dari keberadaannya sebagai warisan budaya yang kaya dan berharga. Pada awalnya, batik telah menjadi bagian integral dari kehidupan masyarakat di berbagai daerah di Indonesia.">01. Perkembangan Awal</a>
				<a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-2" data-image="/Gambar_Sejarah/Kolonial.png" data-info="Pada masa kolonial, batik mengalami perubahan signifikan. Kolonial Belanda membawa pengaruh besar dalam teknik dan motif batik. Batik Belanda, atau yang dikenal sebagai batik Belanda (Batik Belanda), mulai bermunculan dengan motif yang lebih bervariasi, menggabungkan elemen-elemen budaya Eropa dengan keindahan tradisional batik Indonesia.">02. Masa Kolonial</a>
				<a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-3" data-image="/Gambar_Sejarah/Unesco.png" data-info="Batik Pekalongan memiliki tempat istimewa dalam sejarah batik Indonesia. Terkenal dengan motif-motifnya yang kaya warna dan inovatif, batik Pekalongan menjadi pusat kreativitas dan eksperimen. Pengrajin batik Pekalongan tidak hanya menggunakan teknik tradisional, tetapi juga terus berinovasi dengan warna dan desain baru yang menarik perhatian pasar lokal dan internasional.">03. Warisan Budaya</a>
				<a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-4" data-image="/Gambar_Sejarah/Modern.png" data-info="Era modernisasi membawa batik ke panggung dunia. Pada tahun 2009, UNESCO mengakui batik sebagai Warisan Budaya Takbenda Manusia, mengukuhkan posisinya sebagai simbol identitas dan kebanggaan nasional Indonesia. Pengakuan ini mendorong inovasi dan adaptasi lebih lanjut dalam industri batik, dengan desainer kontemporer menggabungkan motif batik dalam koleksi fashion modern mereka.">04. Modernisasi dan Pengakuan Dunia</a>
			</div>
		</div>
	</div>
	
	<MotifBatik />
	
	<Carousel />

	<AccordionCommunity />

	<div class="container mx-auto p-6">
		<div class="flex justify-center items-center mt-16 md:my-24">
			<div class="flex flex-col justify-center items-center bg-[#292F36] md:w-3/4 h-52 md:h-60 gap-4 p-4 md:p-6 rounded-3xl">
				<h1 class="text-lg text-center md:text-3xl text-white font-display">Gabung Komunitas Cultik?</h1>
				<p class="text-sm text-center md:text-lg text-white font-display">Temukan Manfaat Bergabung dengan Komunitas Cultik</p>
				<a href="#" class="bg-[#CDA274] hover:bg-[#ffffff] transition duration-300 ease-in-out text-white hover:text-black font-bold py-2 px-4 rounded-md md:rounded-xl w-28 h-8 md:w-32 md:h-11 mt-4 md:mt-0 flex items-center justify-center font-sans">Join Us</a>
			</div>
		</div>
	</div>

	<Modal />
	
</BaseLayout>

<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline>
	AOS.init();

	document.querySelectorAll('.block').forEach(item => {
		item.addEventListener('mouseenter', () => {
			const detailImage = document.getElementById('detail-image');
			const imageSrc = item.getAttribute('data-image');

			if (imageSrc) {
            detailImage.src = imageSrc;
            detailImage.classList.add('active');
        	}

			document.querySelectorAll('.additional-info').forEach(info => info.remove());

			const additionalInfo = document.createElement('div');
			additionalInfo.classList.add('additional-info');
	        const infoText = item.getAttribute('data-info');

			if (infoText) {
            additionalInfo.textContent = infoText;
       		}

			item.insertAdjacentElement('afterend', additionalInfo);
			additionalInfo.style.display = 'block';
		});

		item.addEventListener('mouseleave', () => {
			document.querySelectorAll('.additional-info').forEach(info => info.remove());
		});

		const button = document.querySelector('.history-button');

		button.addEventListener('click', function() {
			const factPage = document.getElementById('detailHistory');
			factPage.scrollIntoView({ behavior: 'smooth' });
		});
	});
</script>
