---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroPage from '../components/HeroPage.astro';
import AccordionProcess from '../components/AccordionProcess.astro';
import ToolsBatik from '../components/ToolsBatik.astro';
import '../styles/global.css';
---

<BaseLayout>
    
    <HeroPage title="Proses Pembuatan" description="Home / Proses Pembuatan"/>

    <div class="container mx-auto px-6 py-14">
        <div class="videoPembuatan">
            <iframe class="sizeVideo" src="https://www.youtube.com/embed/cQ23gLNBVRs?si=i52vYgxJHziQVWcU" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>&copy; Kanal Budaya Indonesia. Video ini diambil dari <a href="https://youtu.be/cQ23gLNBVRs?si=PyiWLr9k1BRgcNhZ" target="_blank">YouTube</a>.</p>
        </div>
    </div>
    
    <div class="container mx-auto px-6 py-8 bg-[#F4F0EC] rounded-3xl">
		<div class="flex flex-col md:flex-row items-center justify-between gap-4">
			<div class="md:w-6/12 mb-6 md:mb-0">
				<h2 class="font-bold text-7xl md:text-5xl mb-4">12 Tahapan<br> Pembuatan Batik Tulis</h2>
			</div>
			<div class="md:w-3/6 flex justify-end">
                <p class="text-base md:text-lg">Batik Tulis adalah batik yang dibuat dimana canting di pakai sebagai pen untuk menulis atau menggambar,
                    canting biasanya dimasukkan ke dalam wajan yang berisi lilin malam yang nantinya digunakan sebagai tinta menggambar.
                </p>
			</div>
		</div>
        <AccordionProcess />
	</div>

    <ToolsBatik />

</BaseLayout>