---
import '../styles/global.css';
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-12">
    <div class="relative">
        <img id="process-image" class="detail-image-process md:w-5/12 rounded-3xl object-cover" src="/img/Carousel1.png" alt="Process Image">
    </div>
    <div class="list-group">
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-1" data-image-process="/img/Carousel1.png" data-info-process="Kegiatan menggambar motif atau pola batik pada secarik kertas, karena tidak semua orang bisa menggambar motif batik sehingga dibutuhkan keterampilan khusus seseorang dalam melakukannya.">01. Nyungging</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-2" data-image-process="/img/Carousel2.png" data-info-process="Merupakan kegiatan memindahkan gambar atau pola tersebut ke kain.">02. Njaplak</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-3" data-image-process="/img/Carousel3.png" data-info-process="Proses menempelkan lilin malam di kain dengan media canting, dimana pada proses ini motif batik akan mulai terlihat.">03. Nglowong</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-4" data-image-process="/img/Carousel1.png" data-info-process="Proses untuk memberi isenan (isian) atau popular dengan mengisi motif pada kain sesuai gambar motif yang sudah digambarkan di tahap pertama. Tahapan ini juga menggunakan media canting.">04. Ngiseni</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process="/img/Carousel2.png" data-info-process="Proses mewarnai pada bagian-bagian gambar motif yang terlihat sering, seperti kembang, bunga dan lainnya.">05. Nyolet</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process="/img/Carousel3.png" data-info-process="Tahapan dalam menutup bagian yang dicolet dengan lilin malam, yang juga diiringi dengan proses nembok atau menutup dasar kain yang tidak diwarnai.">06. Mopok</a>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-20">
    <div class="relative md:order-2">
        <img id="process-image-second" class="detail-image-process-second md:w-5/12 rounded-3xl object-cover" src="/img/Carousel2.png" alt="Process Image Second">
    </div>
    <div class="list-group">
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel1.png" data-info-process-second="Tahap dimana proses pewarnaan dilakukan secara menyeluruh pada kain.">07. Ngelir</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel2.png" data-info-process-second="Tahap pertama dalam meluruhkan warna lilin malam ke dalam air yang mendidih.">08. Nglorod</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel3.png" data-info-process-second="Memberikan titik pada garis-garis ornamen utama dengan digunakannya canting kecil dan halus sehingga hasil titik yang dibuat terlihat rapi.">09. Ngrentesi</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel1.png" data-info-process-second="Proses menutup kembali beberapa bagian dengan lilin malam.">10. Nyumri</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel3.png" data-info-process-second="Proses mencelupkan kain dengan warna sogan atau coklat, yang merupakan warna khas dasar batik asli Jogja atau Solo.">11. Nyoja</a>
        <a class="block py-3 px-5 hover:bg-gray-100 transition duration-300 ease-in-out rounded-lg shadow-md border border-gray-200 cursor-pointer" data-target="detail-5" data-image-process-second="/img/Carousel1.png" data-info-process-second="Proses terakhir dalam meluruhkan lilin malam dengan air yang mendidih.">12. Nglorod</a>
    </div>
</div>

<script>
document.querySelectorAll('.block').forEach(item => {
    item.addEventListener('mouseenter', () => {
        const detailImage = document.getElementById('process-image') as HTMLImageElement;
        const detailImageSecond = document.getElementById('process-image-second') as HTMLImageElement;
        const imageSrc = item.getAttribute('data-image-process');
        const imageSrcSecond = item.getAttribute('data-image-process-second');
        
        if (imageSrc) {
            detailImage.src = imageSrc;
            detailImage.classList.add('active');
        }
        
        if (imageSrcSecond) {
            detailImageSecond.src = imageSrcSecond;
            detailImageSecond.classList.add('active');
        }
        
        document.querySelectorAll('.additional-info').forEach(info => info.remove());

        const additionalInfo = document.createElement('div');
        additionalInfo.classList.add('additional-info');
        
        const infoText = item.getAttribute('data-info-process');
        const infoTextSecond = item.getAttribute('data-info-process-second');
        
        if (infoText) {
            additionalInfo.textContent = infoText;
        }
        
        if (infoTextSecond) {
            additionalInfo.textContent += ' ' + infoTextSecond;
        }

        item.insertAdjacentElement('afterend', additionalInfo);
        additionalInfo.style.display = 'block';
    });

    item.addEventListener('mouseleave', () => {
        document.querySelectorAll('.additional-info').forEach(info => info.remove());
    });
});
</script>
