---

---

<div class="container mx-auto px-6 my-11 md:mt-24">
    <div class="grid  grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-4 mx-auto">
        <div class="flex flex-col mx-auto items-center justify-start text-center w-2/3 lg:w-3/4">
            <h1 class="text-lg md:text-2xl mb-3">Warisan Budaya</h1>
            <p class="text-base lg:text-lg mt-1 mb-7 flex-grow">Batik Indonesia diakui oleh UNESCO sebagai Warisan Budaya Takbenda pada 2 Oktober 2009. Pengakuan ini menunjukkan betapa pentingnya batik sebagai bagian dari identitas dan kebudayaan Indonesia.</p>

            <div class="flex items-center gap-4">
                <a href="#detailHistory">Read More</a>
                <a class="teenyicons--arrow-right-solid" href="#detailHistory"></a>
            </div>
        </div>
        <div class="flex flex-col mx-auto items-center justify-start text-center w-2/3 lg:w-3/4">
            <h1 class="text-lg md:text-2xl mb-3">Teknik Pembuatan</h1>
            <p class="text-base lg:text-lg mt-1 mb-7 flex-grow">Batik dibuat dengan teknik yang unik, yaitu dengan menutupi kain menggunakan lilin panas. Pola batik dibuat dengan menggambar lilin panas di atas kain, yang kemudian dicelupkan ke dalam pewarna.</p>

            <div class="flex items-center gap-4">
                <a href="/proses">Read More</a>
                <a class="teenyicons--arrow-right-solid" href="/proses"></a>
            </div>
        </div>
        <div class="flex flex-col mx-auto items-center justify-start text-center w-2/3 lg:w-3/4">
            <h1 class="text-lg md:text-2xl mb-3">Simbolis</h1>
            <p class="text-base lg:text-lg mt-1 mb-7 flex-grow">Batik memiliki beragam pola dan motif, masing-masing dengan makna simbolis dan filosofi tersendiri. Setiap daerah di Indonesia memiliki motif batik yang khas.</p>

            <div class="flex items-center gap-4">
                <a href="/daerah">Read More</a>
                <a class="teenyicons--arrow-right-solid" href="/daerah"></a>
            </div>
        </div>
    </div>
</div>