---
import '../styles/global.css';
---

<div class="container mx-auto px-6 mt-20">
  <div class="relative">
    <img class="rounded-3xl object-cover w-full hero" src="/img/Carousel3.png" alt="Batik">
    <div class="absolute inset-0 flex flex-col items-left justify-center text-white p-12 sm:p-12 md:p-12 rounded-3xl">
      <h2 class="text-4xl font-bold mb-4">The Art of Batik</h2>
      <p class="text-lg mb-4 w-1/2">Discover the intricate patterns and rich history of Indonesian Batik, a cultural heritage that weaves tradition and art.</p>
      <button class="bg-[#292F36] hover:bg-[#F9B208] transition duration-300 ease-in-out text-white font-bold py-2 px-4 rounded-2xl w-44 h-14 hero-button">
        Let's Go!
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const button = document.querySelector('.hero-button');

    button.addEventListener('click', function() {
        const factPage = document.getElementById('historyPage');
        factPage.scrollIntoView({ behavior: 'smooth' });
    });
});
</script>