---
import "../styles/global.css";
---

<div class="container mx-auto relative">
  <img class="w-full object-cover hero" src="/img/herofix.jpeg" alt="Batik" />
  <div
    class="absolute inset-0 flex flex-col items-left justify-center text-white md:ml-6 p-12 sm:p-12 md:p-12 hero-container"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    <h2
      class="hero-title text-2xl md:text-6xl font-bold text-[#F4F0EC] lg:mb-4"
    >
      The Art of Batik
    </h2>
    <p class="hero-subtitle text-lg md:text-2xl mb-4 md:w-3/5">
      Discover the intricate patterns and rich history of <span
        class="text-[#CDA274] md:text-xl md:font-bold font-serif"
        >Indonesian Batik</span
      ><span class="text-white">, </span><span class="md:block md:leading-loose"
        >a cultural heritage that weaves tradition and art.</span>
    </p>
    <button
      class="btn relative inline-flex items-center justify-start overflow-hidden font-medium transition-all bg-[#CDA274] rounded hover:bg-[#CDA274] w-24 h-8 md:w-32 md:h-11 group py-1.5 px-2.5 hero-button"
    >
      <span
        class="w-56 h-48 rounded bg-neutral-800 absolute bottom-0 left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="relative w-full text-center text-white transition-colors duration-300 ease-in-out group-hover:text-white"
        >Let's Go!</span
      >
    </button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.querySelector(".hero-button");

    button.addEventListener("click", function () {
      const factPage = document.getElementById("historyPage");
      factPage.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>
