---
import '../styles/global.css';
import { gsap } from 'gsap';
---

<div class="container mx-auto relative">
    <img class="w-full object-cover hero" src="/img/herofix.jpeg" alt="Batik">
    <div class="absolute inset-0 flex flex-col items-left justify-center text-white md:ml-6 p-12 sm:p-12 md:p-12 hero-container">
      <h2 class="hero-title md:text-4xl font-bold md:mb-4 text-[#F4F0EC]">The Art of Batik</h2>
      <p class="hero-subtitle text-lg mb-4 md:w-1/2">Discover the intricate patterns and rich history of <span class="text-[#CDA274] md:text-xl md:font-bold font-serif">Indonesian Batik</span><span class="text-white">, </span><span class="md:block md:leading-loose">a cultural heritage that weaves tradition and art.</span></p>
      <button class="bg-[#292F36] hover:bg-[#CDA274] transition duration-300 ease-in-out text-white font-bold py-2 px-4 md:rounded-2xl rounded-md w-28 h-8 md:w-44 md:h-14 hero-button">
        Let's Go!
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const heroContainer = document.querySelector('.hero-container');
    if (heroContainer) {
      gsap.fromTo(heroContainer, 
        {
          y: 80, 
          opacity: 0
        },
        {
          duration: 1,
          y: 0,
          opacity: 1,
          ease: "power2.out"
        }
      );
    }
    const button = document.querySelector('.hero-button');

    button.addEventListener('click', function() {
        const factPage = document.getElementById('historyPage');
        factPage.scrollIntoView({ behavior: 'smooth' });
    });
});
</script>