---
import "../styles/global.css";
---

<div class="container mx-auto p-6 mt-20 md:mt-28 mb-12 bg-[#F4F0EC] dark:bg-[#795a3a] rounded-3xl">
    <h2 class="text-center text-3xl md:text-4xl font-bold pt-10 pb-6 dark:text-white">Macam Motif Batik</h2>
    <p class="text-center text-base md:text-lg dark:text-white">Menapaki Jejak Sejarah dan Makna Mendalam di Balik Ragam Motif Batik Indonesia <span class="md:block md:leading-loose"> yang Kaya Akan Budaya dan Kearifan Lokal</span></p>
    <div id="batik-container" class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-4 mx-auto">
    </div>
</div>

<script>
    import "../scripts/main.js";
</script>