---
import "../styles/global.css";
---

<header class="sticky top-0 z-50 w-full bg-[#F4F0EC] text-sm py-4 dark:bg-neutral-800 shadow-md">
  <nav class="max-w-[85rem] w-full mx-auto px-6 lg:flex lg:items-center lg:justify-between" aria-label="Global">
    <div class="flex items-center justify-between">
      <a class="inline-flex items-center gap-x-1 md:gap-x-2 text-xl lg:text-2xl font-serif dark:text-white" href="/">
        <img class="w-8 md:w-10 h-auto" src="/img/LogoCultik.png" alt="Logo">
        Cultik
      </a>
      <div class="lg:hidden">
        <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-md bg-white text-gray-800 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-image-and-text-2" aria-controls="navbar-image-and-text-2" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="2" x2="24" y1="6" y2="6"/><line x1="2" x2="24" y1="12" y2="12"/><line x1="2" x2="24" y1="18" y2="18"/></svg>
          <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
    </div>
    <div id="navbar-image-and-text-2" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow lg:block">  
      <div class="flex flex-col gap-2 mt-5 lg:flex-row lg:items-center lg:justify-end lg:mt-0 lg:ps-5">
        <a id="home-link" class="menus font-medium text-[#292F36] dark:text-neutral-400 hover:bg-[#d6c2ac] dark:hover:bg-neutral-600 px-3 py-2 rounded-lg transition duration-300" href="/" aria-current="page">Home</a>
        <a id="proses-link" class="menus font-medium text-[#292F36] dark:text-neutral-400 hover:bg-[#d6c2ac] dark:hover:bg-neutral-600 px-3 py-2 rounded-lg transition duration-300" href="/proses">Proses Pembuatan</a>
        <a id="daerah-link" class="menus font-medium text-[#292F36] dark:text-neutral-400 hover:bg-[#d6c2ac] dark:hover:bg-neutral-600 px-3 py-2 rounded-lg transition duration-300" href="/daerah">Daerah Batik</a>
        <a id="about-link" class="menus font-medium text-[#292F36] dark:text-neutral-400 hover:bg-[#d6c2ac] dark:hover:bg-neutral-600 px-3 py-2 rounded-lg transition duration-300" href="/about">Tentang Kami</a>        
      </div>      
    </div>
  </nav>
</header>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      
      function setActiveLink() {
        const path = window.location.pathname;
        const links = document.querySelectorAll('nav .menus');

        links.forEach(link => {
          link.classList.remove('active');
          if (link.getAttribute('href') === path) {
            link.classList.add('active');
          }
        });
      }

      setActiveLink();

      // Toggle mobile menu
      const hamburgerButton = document.getElementById('hamburger-button');
      const mobileMenu = document.getElementById('navbar-image-and-text-2');

      hamburgerButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });

    });
</script>