---

---

<!-- <nav class="bg-[#F4F0EC] fixed top-0 w-full z-50 shadow-md">
    <div class="container mx-auto px-6">
        <div class="flex justify-between items-center py-4">
            <div class="text-2xl font-bold text-gray-800">
                Cultik
            </div>

            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-gray-600 hover:text-gray-800">Home</a>
                <a href="/proses" class="text-gray-600 hover:text-gray-800">Proses Pembuatan</a>
                <a href="/daerah" class="text-gray-600 hover:text-gray-800">Daerah Batik</a>
                <a href="/about" class="text-gray-600 hover:text-gray-800">Tentang Kami</a>
            </div>

            <div class="md:hidden flex flex-col justify-end h-full">
                <button id="hamburger-button" class="text-gray-600 focus:outline-none">
                    <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>

        <!-- Mobile Menu -->
        <!-- <div id="mobile-menu" class="hidden md:hidden">
            <a href="/" class="block py-2 px-2 text-gray-600 hover:bg-gray-200">Home</a>
            <a href="/proses" class="block py-2 px-2 text-gray-600 hover:bg-gray-200">Proses Pembuatan</a>
            <a href="/daerah" class="block py-2 px-2 text-gray-600 hover:bg-gray-200">Daerah Batik</a>
            <a href="/about" class="block py-2 px-2 mb-3 text-gray-600 hover:bg-gray-200">Tentang Kami</a>
        </div>
    </div>
</nav> -->

<header class="sticky top-0 z-50 w-full bg-[#F4F0EC] text-sm py-4 dark:bg-neutral-800 shadow-md">
  <nav class="max-w-[85rem] w-full mx-auto px-6 sm:flex sm:items-center sm:justify-between" aria-label="Global">
    <div class="flex items-center justify-between">
      <a class="inline-flex items-center gap-x-2 text-xl font-semibold dark:text-white" href="#">
        <img class="w-10 h-auto" src="/img/LogoCultik.png" alt="Logo">
        Cultik
      </a>
      <div class="sm:hidden">
        <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-white dark:hover:bg-white/10" data-hs-collapse="#navbar-image-and-text-2" aria-controls="navbar-image-and-text-2" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
          <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
    </div>
    <div id="navbar-image-and-text-2" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
        <a class="font-medium text-blue-500" href="#" aria-current="page">Landing</a>
        <a class="font-medium text-gray-600 hover:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Account</a>
        <a class="font-medium text-gray-600 hover:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Work</a>
        <a class="font-medium text-gray-600 hover:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Blog</a>
      </div>
    </div>
  </nav>
</header>

<script>
        const hamburgerButton = document.getElementById('hamburger-button');
        const mobileMenu = document.getElementById('mobile-menu');

        hamburgerButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
</script>