---

---

<div
  class="container mx-auto p-6 mt-16 md:mt-28 mb-12 bg-[#F4F0EC] dark:bg-[#795a3a] dark:text-white rounded-radius"
>
  <h2 class="text-center text-4xl font-bold pt-10 pb-6">
    Alat Pembuatan Batik
  </h2>
  <p class="text-center">
    Alat-alat tradisional yang digunakan hingga teknik pembuatan <br /> yang diwariskan
    secara turun-temurun.
  </p>
  <div
    id="alat-container"
    class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto mt-8 justify-center lg:w-4/5"
  >
  </div>
</div>

<script>
  import "../scripts/process.js";
</script>
